.img-fluid {
    max-width: 100%;
    height: auto}
.header {
    color: rgb(55, 55, 184);
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: auto
}
.table-responsive {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px
}
.data-paragraph {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-indent: 50px;
}
.columnleft {
    width: 60%;
    background-color:rgb(159, 159, 182);
}
.columnright {
    background-color:rgb(97, 97, 150);
    width: 40%;
}
.plot {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}